#.coveragerc to control coverage.py
[run]
branch = True

[report]
exclude_lines =
      # Enable default exclusion
      pragma: no cover

      # Ignore runner code
       if __name__ == .__main__.:

ignore_errors = True





